.raleway-logo{
	height: 118px;
	width:278px;
}

.form-group.right{
    margin-left: 0;
    margin-right: 0;
}

p.general-error, p.general-success{
	margin: 0 0 1px;
	font-weight: bold;
}

p.invisible{
	display: none;
}

body {
    padding-bottom: 5px;
    padding-top: 5px;
}

.navbar-brand { 
	height:118px;
	padding:0px 15px;
}

.navbar-nav {
    margin: 18px 0px 0px -18px;
}

@media (max-width:767px) {
.navbar-header {height:118px;border-bottom:0px solid #E0E0E0;}
}

.navbar-toggle {
margin-top:40px;
}

.error{
	color: #ff0000;
}

.bold{
	font-weight: bold;
}